.main{
    display: flex; 
    flex-direction: column;
    
}

.buston{
     padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
     margin-top: 0.5rem/* 8px */;
    margin-bottom: 0.5rem/* 8px */;
    width: 10rem/* 160px */;
     border-radius: 10px;
      --tw-bg-opacity: 1;
    background-color: rgb(58 3 46 / var(--tw-bg-opacity));
     font-family: Roboto, sans-serif;
      font-weight: 400;
       --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}