.header-all{
    display: flex;
    height: 3.5rem/* 56px */;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    padding-left: 1rem/* 16px */;
    padding-right: 1.75rem/* 28px */;
}